{
  "al.enableCodeAnalysis": true,
  "al.packageCachePath": "./.alpackages",
  "al.assemblyProbingPaths": [
    "./.netpackages"
  ],
  "al.namespaceTemplate": "PM.Guillem.AIOpenSDK.$(parentfolder)"
}
